In [8]:
import pandas as pd

df = pd.read_csv('2015.csv')

In [9]:
#Select only the columns we wish to use
columns_tokeep = ['DIABETE3','BPHIGH4','BLOODCHO','TOLDHI2','_BMI5','SMOKE100','CVDSTRK3','CVDINFR4','PHYSHLTH','EXERANY2','FRUIT1','AVEDRNK2','DRNK3GE5','GENHLTH','MENTHLTH','DIFFWALK','SEX','_AGEG5YR','INCOME2']
clean_columns = df[columns_tokeep]
#print(len(clean_columns.columns))
#clean_columns.rename(columns={}, inplace=True)

In [10]:
#remove nulls from dataset
clean_nulls = clean_columns.dropna()
clean_nulls

,DIABETE3,BPHIGH4,BLOODCHO,TOLDHI2,_BMI5,SMOKE100,CVDSTRK3,CVDINFR4,PHYSHLTH,EXERANY2,FRUIT1,AVEDRNK2,DRNK3GE5,GENHLTH,MENTHLTH,DIFFWALK,SEX,_AGEG5YR,INCOME2
6,3.0,1.0,1.0,1.0,2389.0,2.0,2.0,2.0,88.0,1.0,202.0,1.0,88.0,2.0,3.0,2.0,2.0,11.0,4.0
15,3.0,1.0,1.0,1.0,2500.0,1.0,2.0,2.0,88.0,1.0,308.0,2.0,88.0,3.0,88.0,1.0,2.0,11.0,4.0
21,1.0,3.0,1.0,2.0,2468.0,1.0,2.0,2.0,88.0,1.0,320.0,1.0,88.0,3.0,88.0,2.0,1.0,13.0,8.0
31,3.0,3.0,1.0,2.0,2569.0,1.0,2.0,2.0,15.0,2.0,202.0,1.0,88.0,3.0,88.0,2.0,2.0,7.0,7.0
33,1.0,1.0,1.0,1.0,2850.0,2.0,2.0,2.0,88.0,2.0,305.0,1.0,88.0,4.0,88.0,1.0,2.0,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441435,3.0,3.0,1.0,1.0,2728.0,2.0,2.0,2.0,3.0,2.0,203.0,4.0,8.0,1.0,88.0,2.0,1.0,6.0,4.0
441437,3.0,3.0,1.0,1.0,2468.0,2.0,2.0,2.0,88.0,1.0,303.0,3.0,88.0,1.0,88.0,2.0,1.0,6.0,99.0
441447,3.0,3.0,1.0,1.0,3054.0,1.0,2.0,2.0,88.0,2.0,102.0,2.0,1.0,4.0,88.0,1.0,1.0,6.0,1.0
441448,3.0,1.0,1.0,2.0,4229.0,2.0,2.0,2.0,4.0,1.0,101.0,2.0,88.0,3.0,14.0,2.0,1.0,3.0,8.0
441450,3.0,1.0,1.0,1.0,4500.0,2.0,2.0,2.0,5.0,2.0,203.0,10.0,10.0,3.0,88.0,2.0,1.0,5.0,7.0

In [27]:
#0 diabete3 >6
#1 bphigh >6
#2 bloodcho >6
#3 toldhi2 >6
#4 _bmi5
#5 smoke100 >6
#6 cvdstrk3 >6
#7 cvdinfr4 >6
#8 physhlth =77 or =99 (88 is no days health not good)
#9 exerany2 >6
#10 fruit1 =777 or =999
#11 avedrnk2 =77 or =99
#12 drnk3ge5 =77 or ==99
#13 genhlth >6
#14 menthlth =77 or =99
#15 diffwalk >6
#16 sex
#17 _ageg5yr >13
#18 income2 =77 or =99
conditions = [
    clean_nulls[columns_tokeep[0]] >6,
    clean_nulls[columns_tokeep[1]] >6,
    clean_nulls[columns_tokeep[2]] >6,
    clean_nulls[columns_tokeep[3]] >6,
    clean_nulls[columns_tokeep[5]] >6,
    clean_nulls[columns_tokeep[6]] >6,
    clean_nulls[columns_tokeep[7]] >6,
    clean_nulls[columns_tokeep[8]] ==77,
    clean_nulls[columns_tokeep[8]] ==99,
    clean_nulls[columns_tokeep[9]] >6,
    clean_nulls[columns_tokeep[10]] ==777,
    clean_nulls[columns_tokeep[10]] ==999,
    clean_nulls[columns_tokeep[11]] ==77,
    clean_nulls[columns_tokeep[11]] ==99,
    clean_nulls[columns_tokeep[12]] ==77,
    clean_nulls[columns_tokeep[12]] ==99,
    clean_nulls[columns_tokeep[13]] >6,
    clean_nulls[columns_tokeep[14]] ==77,
    clean_nulls[columns_tokeep[14]] ==99,
    clean_nulls[columns_tokeep[15]] >6,
    clean_nulls[columns_tokeep[17]] >13,
    clean_nulls[columns_tokeep[18]] ==77,
    clean_nulls[columns_tokeep[18]] ==99
]

combined_condition = ~pd.DataFrame(conditions).any()
filtered_df = clean_nulls.copy()

# Filter out rows based on the combined condition
filtered_df = filtered_df[combined_condition]
filtered_df

,DIABETE3,BPHIGH4,BLOODCHO,TOLDHI2,_BMI5,SMOKE100,CVDSTRK3,CVDINFR4,PHYSHLTH,EXERANY2,FRUIT1,AVEDRNK2,DRNK3GE5,GENHLTH,MENTHLTH,DIFFWALK,SEX,_AGEG5YR,INCOME2
6,3.0,1.0,1.0,1.0,2389.0,2.0,2.0,2.0,88.0,1.0,202.0,1.0,88.0,2.0,3.0,2.0,2.0,11.0,4.0
15,3.0,1.0,1.0,1.0,2500.0,1.0,2.0,2.0,88.0,1.0,308.0,2.0,88.0,3.0,88.0,1.0,2.0,11.0,4.0
21,1.0,3.0,1.0,2.0,2468.0,1.0,2.0,2.0,88.0,1.0,320.0,1.0,88.0,3.0,88.0,2.0,1.0,13.0,8.0
31,3.0,3.0,1.0,2.0,2569.0,1.0,2.0,2.0,15.0,2.0,202.0,1.0,88.0,3.0,88.0,2.0,2.0,7.0,7.0
33,1.0,1.0,1.0,1.0,2850.0,2.0,2.0,2.0,88.0,2.0,305.0,1.0,88.0,4.0,88.0,1.0,2.0,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441431,3.0,1.0,1.0,1.0,2780.0,1.0,2.0,2.0,88.0,2.0,201.0,2.0,88.0,3.0,88.0,2.0,2.0,11.0,7.0
441435,3.0,3.0,1.0,1.0,2728.0,2.0,2.0,2.0,3.0,2.0,203.0,4.0,8.0,1.0,88.0,2.0,1.0,6.0,4.0
441447,3.0,3.0,1.0,1.0,3054.0,1.0,2.0,2.0,88.0,2.0,102.0,2.0,1.0,4.0,88.0,1.0,1.0,6.0,1.0
441448,3.0,1.0,1.0,2.0,4229.0,2.0,2.0,2.0,4.0,1.0,101.0,2.0,88.0,3.0,14.0,2.0,1.0,3.0,8.0
441450,3.0,1.0,1.0,1.0,4500.0,2.0,2.0,2.0,5.0,2.0,203.0,10.0,10.0,3.0,88.0,2.0,1.0,5.0,7.0

In [39]:
diabetes = 'Has_Diabetes'
bp = 'High_BP'
check_cho = 'Checked_Cho'
told_high_cho = 'Told_High_Cho'
bmi = 'BMI'
smoker = 'Smoker'
stroke = 'Stroke'
heart_attack = 'Heart_Attack'
phys_health = 'Physical_Health'
recent_exercise = 'Recent_Exercise'
avg_drnk = 'Avg_Drink'
five_or_more = '5_or_More_Drinks'
gen_hlth =  'Gen_Health'
ment_hlth = 'Mental_Health'
diff_walk = 'Diff_Walking'
sex = 'Sex'
age = 'Age'
income = 'Income'

In [45]:
#Renaming all the colums we kept to inprove readability of our dataset.
filtered_df.rename(columns={'DIABETE3': diabetes,
                              'BPHIGH4': bp,
                              'BLOODCHO': check_cho,
                              'TOLDHI2': told_high_cho,
                              '_BMI5': bmi,
                              'SMOKE100': smoker,
                              'CVDSTRK3': stroke,
                              'CVDINFR4': heart_attack,
                              'PHYSHLTH': phys_health,
                              'EXERANY2': recent_exercise,
                              'FRUIT1': 'Eats_Fruit',
                              'AVEDRNK2': avg_drnk,
                              'DRNK3GE5': five_or_more,
                              'GENHLTH': gen_hlth,
                              'MENTHLTH': ment_hlth,
                              'DIFFWALK': diff_walk,
                              'SEX': sex,
                              '_AGEG5YR': age,
                              'INCOME2': income}, inplace=True)
filtered_df#printing dataset

,Has_Diabetes,High_BP,Checked_Cho,Told_High_Cho,BMI,Smoker,Stroke,Heart_Attack,Physical_Health,Recent_Exercise,Avg_Drink,5_or_More_Drinks,Gen_Health,Mental_Health,Diff_Walking,Sex,Age,Income
6,False,True,True,True,2389.0,False,False,False,88.0,True,1.0,0.0,2.0,3.0,False,False,11.0,4.0
15,False,True,True,True,2500.0,True,False,False,88.0,True,2.0,0.0,3.0,0.0,True,False,11.0,4.0
21,True,False,True,False,2468.0,True,False,False,88.0,True,1.0,0.0,3.0,0.0,False,True,13.0,8.0
31,False,False,True,False,2569.0,True,False,False,15.0,False,1.0,0.0,3.0,0.0,False,False,7.0,7.0
33,True,True,True,True,2850.0,False,False,False,88.0,False,1.0,0.0,4.0,0.0,True,False,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441431,False,True,True,True,2780.0,True,False,False,88.0,False,2.0,0.0,3.0,0.0,False,False,11.0,7.0
441435,False,False,True,True,2728.0,False,False,False,3.0,False,4.0,8.0,1.0,0.0,False,True,6.0,4.0
441447,False,False,True,True,3054.0,True,False,False,88.0,False,2.0,1.0,4.0,0.0,True,True,6.0,1.0
441448,False,True,True,False,4229.0,False,False,False,4.0,True,2.0,0.0,3.0,14.0,False,True,3.0,8.0
441450,False,True,True,True,4500.0,False,False,False,5.0,False,10.0,10.0,3.0,0.0,False,True,5.0,7.0

In [30]:
#remove fruit column, decided wasnt necessary
filtered_df.drop('Eats_Fruit', axis=1, inplace=True)

In [31]:
filtered_df

,Has_Diabetes,High_BP,Checked_Cho,Told_High_Cho,BMI,Smoker,Stroke,Heart_Attack,Physical_Health,Recent_Exercise,Avg_Drink,5_or_More_Drinks,Gen_Health,Mental_Health,Diff_Walking,Sex,Age,Income
6,3.0,1.0,1.0,1.0,2389.0,2.0,2.0,2.0,88.0,1.0,1.0,88.0,2.0,3.0,2.0,2.0,11.0,4.0
15,3.0,1.0,1.0,1.0,2500.0,1.0,2.0,2.0,88.0,1.0,2.0,88.0,3.0,88.0,1.0,2.0,11.0,4.0
21,1.0,3.0,1.0,2.0,2468.0,1.0,2.0,2.0,88.0,1.0,1.0,88.0,3.0,88.0,2.0,1.0,13.0,8.0
31,3.0,3.0,1.0,2.0,2569.0,1.0,2.0,2.0,15.0,2.0,1.0,88.0,3.0,88.0,2.0,2.0,7.0,7.0
33,1.0,1.0,1.0,1.0,2850.0,2.0,2.0,2.0,88.0,2.0,1.0,88.0,4.0,88.0,1.0,2.0,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441431,3.0,1.0,1.0,1.0,2780.0,1.0,2.0,2.0,88.0,2.0,2.0,88.0,3.0,88.0,2.0,2.0,11.0,7.0
441435,3.0,3.0,1.0,1.0,2728.0,2.0,2.0,2.0,3.0,2.0,4.0,8.0,1.0,88.0,2.0,1.0,6.0,4.0
441447,3.0,3.0,1.0,1.0,3054.0,1.0,2.0,2.0,88.0,2.0,2.0,1.0,4.0,88.0,1.0,1.0,6.0,1.0
441448,3.0,1.0,1.0,2.0,4229.0,2.0,2.0,2.0,4.0,1.0,2.0,88.0,3.0,14.0,2.0,1.0,3.0,8.0
441450,3.0,1.0,1.0,1.0,4500.0,2.0,2.0,2.0,5.0,2.0,10.0,10.0,3.0,88.0,2.0,1.0,5.0,7.0

In [46]:
#phys health 88 to 0 (0-30 days not healthy)
filtered_df= filtered_df.replace({phys_health:88.0},{phys_health:0})
#avg drink 1-76 int
#5 or more drinks 1-76 int 88 = 0
filtered_df= filtered_df.replace({five_or_more:88},{five_or_more:0})
#gen_health 1-5 1 good 5 bad
#mental health 1-30 int 88 =0
filtered_df= filtered_df.replace({ment_hlth:88},{ment_hlth:0})
#age 1-13 18-24 =1 80+=13
#Income 1-8 1<10000 8 >75000
filtered_df

,Has_Diabetes,High_BP,Checked_Cho,Told_High_Cho,BMI,Smoker,Stroke,Heart_Attack,Physical_Health,Recent_Exercise,Avg_Drink,5_or_More_Drinks,Gen_Health,Mental_Health,Diff_Walking,Sex,Age,Income
6,False,True,True,True,2389.0,False,False,False,0.0,True,1.0,0.0,2.0,3.0,False,False,11.0,4.0
15,False,True,True,True,2500.0,True,False,False,0.0,True,2.0,0.0,3.0,0.0,True,False,11.0,4.0
21,True,False,True,False,2468.0,True,False,False,0.0,True,1.0,0.0,3.0,0.0,False,True,13.0,8.0
31,False,False,True,False,2569.0,True,False,False,15.0,False,1.0,0.0,3.0,0.0,False,False,7.0,7.0
33,True,True,True,True,2850.0,False,False,False,0.0,False,1.0,0.0,4.0,0.0,True,False,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441431,False,True,True,True,2780.0,True,False,False,0.0,False,2.0,0.0,3.0,0.0,False,False,11.0,7.0
441435,False,False,True,True,2728.0,False,False,False,3.0,False,4.0,8.0,1.0,0.0,False,True,6.0,4.0
441447,False,False,True,True,3054.0,True,False,False,0.0,False,2.0,1.0,4.0,0.0,True,True,6.0,1.0
441448,False,True,True,False,4229.0,False,False,False,4.0,True,2.0,0.0,3.0,14.0,False,True,3.0,8.0
441450,False,True,True,True,4500.0,False,False,False,5.0,False,10.0,10.0,3.0,0.0,False,True,5.0,7.0

In [33]:
#diabetes 1-2 Y 3,4 N
#BP 1,2 Y 3,4 N
def convert_four_option(x):
    if x>2:
        return False
    return True
columns_to_convert = [diabetes,bp]
for column in columns_to_convert:
    filtered_df[column] = filtered_df[column].apply(lambda x: convert_four_option(x) if isinstance(x, float) else x)


filtered_df

,Has_Diabetes,High_BP,Checked_Cho,Told_High_Cho,BMI,Smoker,Stroke,Heart_Attack,Physical_Health,Recent_Exercise,Avg_Drink,5_or_More_Drinks,Gen_Health,Mental_Health,Diff_Walking,Sex,Age,Income
6,False,True,1.0,1.0,2389.0,2.0,2.0,2.0,88.0,1.0,1.0,0.0,2.0,3.0,2.0,2.0,11.0,4.0
15,False,True,1.0,1.0,2500.0,1.0,2.0,2.0,88.0,1.0,2.0,0.0,3.0,0.0,1.0,2.0,11.0,4.0
21,True,False,1.0,2.0,2468.0,1.0,2.0,2.0,88.0,1.0,1.0,0.0,3.0,0.0,2.0,1.0,13.0,8.0
31,False,False,1.0,2.0,2569.0,1.0,2.0,2.0,15.0,2.0,1.0,0.0,3.0,0.0,2.0,2.0,7.0,7.0
33,True,True,1.0,1.0,2850.0,2.0,2.0,2.0,88.0,2.0,1.0,0.0,4.0,0.0,1.0,2.0,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441431,False,True,1.0,1.0,2780.0,1.0,2.0,2.0,88.0,2.0,2.0,0.0,3.0,0.0,2.0,2.0,11.0,7.0
441435,False,False,1.0,1.0,2728.0,2.0,2.0,2.0,3.0,2.0,4.0,8.0,1.0,0.0,2.0,1.0,6.0,4.0
441447,False,False,1.0,1.0,3054.0,1.0,2.0,2.0,88.0,2.0,2.0,1.0,4.0,0.0,1.0,1.0,6.0,1.0
441448,False,True,1.0,2.0,4229.0,2.0,2.0,2.0,4.0,1.0,2.0,0.0,3.0,14.0,2.0,1.0,3.0,8.0
441450,False,True,1.0,1.0,4500.0,2.0,2.0,2.0,5.0,2.0,10.0,10.0,3.0,0.0,2.0,1.0,5.0,7.0

In [40]:
#check cho 1,2 Bool
#told high cho  1,2 Bool 
#smoker 1,2 Y
#stroke 1,2 bool
#heart attack 1,2 bool
#exercise recent 1,2 bool
#diff walk 1,2 bool
#sex 1-M,2-F bool
def convert_two_option(x):
    if x==1:
        return True
    return False
columns_to_convert = [check_cho,told_high_cho,smoker,stroke,heart_attack,recent_exercise,diff_walk,sex]
for column in columns_to_convert:
    filtered_df[column] = filtered_df[column].apply(lambda x: convert_two_option(x) if isinstance(x, float) else x)

In [42]:

filtered_df.to_csv('cleaned_data.csv', index=False)

In [43]:
filtered_df

,Has_Diabetes,High_BP,Checked_Cho,Told_High_Cho,BMI,Smoker,Stroke,Heart_Attack,Physical_Health,Recent_Exercise,Avg_Drink,5_or_More_Drinks,Gen_Health,Mental_Health,Diff_Walking,Sex,Age,Income
6,False,True,True,True,2389.0,False,False,False,88.0,True,1.0,0.0,2.0,3.0,False,False,11.0,4.0
15,False,True,True,True,2500.0,True,False,False,88.0,True,2.0,0.0,3.0,0.0,True,False,11.0,4.0
21,True,False,True,False,2468.0,True,False,False,88.0,True,1.0,0.0,3.0,0.0,False,True,13.0,8.0
31,False,False,True,False,2569.0,True,False,False,15.0,False,1.0,0.0,3.0,0.0,False,False,7.0,7.0
33,True,True,True,True,2850.0,False,False,False,88.0,False,1.0,0.0,4.0,0.0,True,False,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441431,False,True,True,True,2780.0,True,False,False,88.0,False,2.0,0.0,3.0,0.0,False,False,11.0,7.0
441435,False,False,True,True,2728.0,False,False,False,3.0,False,4.0,8.0,1.0,0.0,False,True,6.0,4.0
441447,False,False,True,True,3054.0,True,False,False,88.0,False,2.0,1.0,4.0,0.0,True,True,6.0,1.0
441448,False,True,True,False,4229.0,False,False,False,4.0,True,2.0,0.0,3.0,14.0,False,True,3.0,8.0
441450,False,True,True,True,4500.0,False,False,False,5.0,False,10.0,10.0,3.0,0.0,False,True,5.0,7.0