This is finding the correlation between Diabetes and the rest of the columns in 2015.csv

In [43]:
"""import pandas as pd

# Load data
df = pd.read_csv('2015.csv')

df_numeric = df.select_dtypes(include=['number'])

# Calculate correlation matrix
correlation_matrix = df_numeric.corr()

# Extract correlation of each feature with the target variable (Has_Diabetes)
correlation_with_target = correlation_matrix['DIABETE3'].sort_values(ascending=False)
pd.set_option('display.max_rows', None)  # Set option to display all rows

print(correlation_with_target)"""

"import pandas as pd\n\n# Load data\ndf = pd.read_csv('2015.csv')\n\ndf_numeric = df.select_dtypes(include=['number'])\n\n# Calculate correlation matrix\ncorrelation_matrix = df_numeric.corr()\n\n# Extract correlation of each feature with the target variable (Has_Diabetes)\ncorrelation_with_target = correlation_matrix['DIABETE3'].sort_values(ascending=False)\npd.set_option('display.max_rows', None)  # Set option to display all rows\n\nprint(correlation_with_target)"

In [44]:
import pandas as pd
import numpy as np

# Read the CSV file
df = pd.read_csv('2015.csv')

In [45]:
columns_tokeep = ['DIABETE3', 'BPHIGH4', 'CVDASPRN', '_MICHD', '_DRDXAR1', 'HAVARTH3', 'DIFFWALK',
                  'TOLDHI2', 'DRADVISE', 'USEEQUIP', 'ARTHWGT', 'CDASSIST', 'BPMEDS',
                  'VICTRCT4', 'PNEUVAC3', '_BMI5', 'PHYSHLTH', '_AGEG5YR','GENHLTH']

clean_columns = df[columns_tokeep]



clean_columns['CVDASPRN'] = clean_columns['CVDASPRN'].fillna(2.0)
clean_columns['DRADVISE'] = clean_columns['DRADVISE'].fillna(2.0)
clean_columns['ARTHWGT'] = clean_columns['ARTHWGT'].fillna(2.0)
clean_columns['CDASSIST'] = clean_columns['CDASSIST'].fillna(5.0)
clean_columns['VICTRCT4'] = clean_columns['VICTRCT4'].fillna(3.0)
clean_columns['BPMEDS'] = clean_columns['BPMEDS'].fillna(2.0)

C:\Users\Ruairi\AppData\Local\Temp\ipykernel_30248\1565030129.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_columns['CVDASPRN'] = clean_columns['CVDASPRN'].fillna(2.0)
C:\Users\Ruairi\AppData\Local\Temp\ipykernel_30248\1565030129.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_columns['DRADVISE'] = clean_columns['DRADVISE'].fillna(2.0)
C:\Users\Ruairi\AppData\Local\Temp\ipykernel_30248\1565030129.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_columns['ARTHWGT'] = clean_columns['ARTHWGT'].fillna(2.0)
C:\Users\Ruairi\AppData\Local\Temp\ipykernel_30248\1565030129.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_columns['CDASSIST'] = clean_columns['CDASSIST'].fillna(5.0)
C:\Users\Ruairi\AppData\Local\Temp\ipykernel_30248\1565030129.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_columns['VICTRCT4'] = clean_columns['VICTRCT4'].fillna(3.0)
C:\Users\Ruairi\AppData\Local\Temp\ipykernel_30248\1565030129.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_columns['BPMEDS'] = clean_columns['BPMEDS'].fillna(2.0)

In [46]:
NO=clean_columns.loc[clean_columns['DIABETE3'] == 1]

NO.shape

(57256, 19)

In [47]:
column_mapping = {
    'DIABETE3': 'Has_Diabetes',
    'BPHIGH4': 'Has_High_BP',
    'CVDASPRN': 'Takes_Aspirin_Daily',
    '_MICHD': 'Has_Heart_Disease',
    '_DRDXAR1': 'Has_Arthritis',
    'HAVARTH3': 'Has_Arthritis_(Any_Form)',
    'DIFFWALK': 'Has_Difficulty_Walking',
    'TOLDHI2': 'Told_High_Blood_Chol',
    'DRADVISE': 'Advised_to_Reduce_Salt',
    'USEEQUIP': 'Needs_Medical_Equipment',
    'ARTHWGT': 'Told_to_Lose_Weight',
    'VICTRCT4': 'Has_Cataracts',
    'CDASSIST': 'Needs_Daily_Assistance_(Memory Loss)',
    'BPMEDS': 'Taking_Meds_for_BP',
    'PNEUVAC3': 'Had_Pneumonia_Shot',
    '_BMI5'  : 'BMI',
    'PHYSHLTH'  : 'Physical_Health',
    '_AGEG5YR'  : 'Age',
    'GENHLTH'  : 'General_Health'
}

clean_columns = clean_columns.rename(columns=column_mapping)

clean_columns.head()

,Has_Diabetes,Has_High_BP,Takes_Aspirin_Daily,Has_Heart_Disease,Has_Arthritis,Has_Arthritis_(Any_Form),Has_Difficulty_Walking,Told_High_Blood_Chol,Advised_to_Reduce_Salt,Needs_Medical_Equipment,Told_to_Lose_Weight,Needs_Daily_Assistance_(Memory Loss),Taking_Meds_for_BP,Has_Cataracts,Had_Pneumonia_Shot,BMI,Physical_Health,Age,General_Health
0,3.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,5.0,1.0,3.0,1.0,4018.0,15.0,9.0,5.0
1,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,5.0,2.0,3.0,2.0,2509.0,88.0,7.0,3.0
2,3.0,3.0,2.0,NaN,1.0,1.0,NaN,1.0,2.0,2.0,2.0,5.0,2.0,3.0,NaN,2204.0,15.0,11.0,4.0
3,3.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,3.0,1.0,2819.0,30.0,9.0,5.0
4,3.0,3.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,5.0,2.0,3.0,1.0,2437.0,20.0,9.0,5.0

In [48]:
clean_columns.head()

,Has_Diabetes,Has_High_BP,Takes_Aspirin_Daily,Has_Heart_Disease,Has_Arthritis,Has_Arthritis_(Any_Form),Has_Difficulty_Walking,Told_High_Blood_Chol,Advised_to_Reduce_Salt,Needs_Medical_Equipment,Told_to_Lose_Weight,Needs_Daily_Assistance_(Memory Loss),Taking_Meds_for_BP,Has_Cataracts,Had_Pneumonia_Shot,BMI,Physical_Health,Age,General_Health
0,3.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,5.0,1.0,3.0,1.0,4018.0,15.0,9.0,5.0
1,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,5.0,2.0,3.0,2.0,2509.0,88.0,7.0,3.0
2,3.0,3.0,2.0,NaN,1.0,1.0,NaN,1.0,2.0,2.0,2.0,5.0,2.0,3.0,NaN,2204.0,15.0,11.0,4.0
3,3.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,3.0,1.0,2819.0,30.0,9.0,5.0
4,3.0,3.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,5.0,2.0,3.0,1.0,2437.0,20.0,9.0,5.0

In [49]:
numeric_columns= pd.DataFrame()

numeric_columns['BMI'] = clean_columns.pop('BMI')
numeric_columns['Physical_Health'] = clean_columns.pop('Physical_Health')
numeric_columns['Age'] = clean_columns.pop('Age')
numeric_columns['General_Health'] = clean_columns.pop('General_Health')

numeric_columns = (numeric_columns - np.min(numeric_columns)) / (np.max(numeric_columns) - np.min(numeric_columns))
numeric_columns.head()

        BMI  Physical_Health       Age  General_Health
0  0.401941         0.001401  0.000800          0.0004
1  0.250951         0.008705  0.000600          0.0002
2  0.220432         0.001401  0.001001          0.0003
3  0.281969         0.002902  0.000800          0.0004
4  0.243746         0.001901  0.000800          0.0004

In [50]:
clean_columns.head()

,Has_Diabetes,Has_High_BP,Takes_Aspirin_Daily,Has_Heart_Disease,Has_Arthritis,Has_Arthritis_(Any_Form),Has_Difficulty_Walking,Told_High_Blood_Chol,Advised_to_Reduce_Salt,Needs_Medical_Equipment,Told_to_Lose_Weight,Needs_Daily_Assistance_(Memory Loss),Taking_Meds_for_BP,Has_Cataracts,Had_Pneumonia_Shot
0,3.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,5.0,1.0,3.0,1.0
1,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,5.0,2.0,3.0,2.0
2,3.0,3.0,2.0,NaN,1.0,1.0,NaN,1.0,2.0,2.0,2.0,5.0,2.0,3.0,NaN
3,3.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,3.0,1.0
4,3.0,3.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,5.0,2.0,3.0,1.0

In [51]:

clean_columns = clean_columns.replace(7,float('nan'))

clean_columns['Needs_Daily_Assistance_(Memory Loss)'] = clean_columns['Needs_Daily_Assistance_(Memory Loss)'].replace({1:1, 2: 1, 3: 1, 4: 0, 5:0})

clean_columns = clean_columns.replace({1:1, 2:0, 3:0, 4:0, 9:float('nan')})

In [52]:
clean_columns.describe()

,Has_Diabetes,Has_High_BP,Takes_Aspirin_Daily,Has_Heart_Disease,Has_Arthritis,Has_Arthritis_(Any_Form),Has_Difficulty_Walking,Told_High_Blood_Chol,Advised_to_Reduce_Salt,Needs_Medical_Equipment,Told_to_Lose_Weight,Needs_Daily_Assistance_(Memory Loss),Taking_Meds_for_BP,Has_Cataracts,Had_Pneumonia_Shot
count,440658.000000,440089.000000,441428.000000,437514.000000,438657.000000,438657.000000,426862.000000,378741.000000,441194.000000,429914.000000,441314.000000,441287.000000,441135.000000,441444.000000,363288.000000
mean,0.129933,0.404891,0.012731,0.088301,0.337476,0.337476,0.174914,0.422373,0.028495,0.117749,0.016120,0.009810,0.337842,0.001506,0.434085
std,0.336230,0.490871,0.112113,0.283733,0.472849,0.472849,0.379894,0.493938,0.166384,0.322311,0.125937,0.098558,0.472975,0.038783,0.495637
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [53]:
has_diabetes_values = clean_columns['Has_Diabetes'].unique()
has_diabetes_values

array([ 0.,  1., nan])

In [54]:
clean_columns = clean_columns.dropna()

clean_columns['Has_Diabetes'] = clean_columns['Has_Diabetes'].astype(int)
clean_columns['Has_High_BP'] = clean_columns['Has_High_BP'].astype(int)
clean_columns['Takes_Aspirin_Daily'] = clean_columns['Takes_Aspirin_Daily'].astype(int)
clean_columns['Has_Heart_Disease'] = clean_columns['Has_Heart_Disease'].astype(int)
clean_columns['Has_Arthritis'] = clean_columns['Has_Arthritis'].astype(int)
clean_columns['Has_Arthritis_(Any_Form)'] = clean_columns['Has_Arthritis_(Any_Form)'].astype(int)
clean_columns['Has_Difficulty_Walking'] = clean_columns['Has_Difficulty_Walking'].astype(int)
clean_columns['Told_High_Blood_Chol'] = clean_columns['Told_High_Blood_Chol'].astype(int)
clean_columns['Advised_to_Reduce_Salt'] = clean_columns['Advised_to_Reduce_Salt'].astype(int)
clean_columns['Needs_Medical_Equipment'] = clean_columns['Needs_Medical_Equipment'].astype(int)
clean_columns['Told_to_Lose_Weight'] = clean_columns['Told_to_Lose_Weight'].astype(int)
clean_columns['Has_Cataracts'] = clean_columns['Has_Cataracts'].astype(int)
clean_columns['Needs_Daily_Assistance_(Memory Loss)'] = clean_columns['Needs_Daily_Assistance_(Memory Loss)'].astype(int)
clean_columns['Taking_Meds_for_BP'] = clean_columns['Taking_Meds_for_BP'].astype(int)
clean_columns['Had_Pneumonia_Shot'] = clean_columns['Had_Pneumonia_Shot'].astype(int)

In [55]:
clean_columns = pd.concat([clean_columns, numeric_columns], axis=1)

In [56]:

clean_columns.head()

,Has_Diabetes,Has_High_BP,Takes_Aspirin_Daily,Has_Heart_Disease,Has_Arthritis,Has_Arthritis_(Any_Form),Has_Difficulty_Walking,Told_High_Blood_Chol,Advised_to_Reduce_Salt,Needs_Medical_Equipment,Told_to_Lose_Weight,Needs_Daily_Assistance_(Memory Loss),Taking_Meds_for_BP,Has_Cataracts,Had_Pneumonia_Shot,BMI,Physical_Health,Age,General_Health
0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.401941,0.001401,0.000800,0.0004
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.250951,0.008705,0.000600,0.0002
3,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.281969,0.002902,0.000800,0.0004
4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.243746,0.001901,0.000800,0.0004
5,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.265259,0.008705,0.001001,0.0001

In [57]:
clean_columns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 441456 entries, 0 to 441453
Data columns (total 19 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Has_Diabetes                          310740 non-null  float64
 1   Has_High_BP                           310740 non-null  float64
 2   Takes_Aspirin_Daily                   310740 non-null  float64
 3   Has_Heart_Disease                     310740 non-null  float64
 4   Has_Arthritis                         310740 non-null  float64
 5   Has_Arthritis_(Any_Form)              310740 non-null  float64
 6   Has_Difficulty_Walking                310740 non-null  float64
 7   Told_High_Blood_Chol                  310740 non-null  float64
 8   Advised_to_Reduce_Salt                310740 non-null  float64
 9   Needs_Medical_Equipment               310740 non-null  float64
 10  Told_to_Lose_Weight                   310740 non-null  float64
 11  Needs_Daily_Assistance_(Memory Loss)  310740 non-null  float64
 12  Taking_Meds_for_BP                    310740 non-null  float64
 13  Has_Cataracts                         310740 non-null  float64
 14  Had_Pneumonia_Shot                    310740 non-null  float64
 15  BMI                                   405058 non-null  float64
 16  Physical_Health                       441455 non-null  float64
 17  Age                                   441456 non-null  float64
 18  General_Health                        441454 non-null  float64
dtypes: float64(19)
memory usage: 67.4 MB

In [58]:



"""clean_columns['CVDASPRN'] = clean_columns['CVDASPRN'].replace(7, float('nan')) 
clean_columns['DRADVISE'] = clean_columns['DRADVISE'].replace(7, float('nan'))
clean_columns['ARTHWGT'] = clean_columns['ARTHWGT'].replace(7, float('nan'))
clean_columns['CDASSIST'] = clean_columns['CDASSIST'].replace(7, float('nan'))
clean_columns['VICTRCT4'] = clean_columns['VICTRCT4'].replace(7, float('nan'))
clean_columns['BPMEDS'] = clean_columns['BPMEDS'].replace(7, float('nan'))"""



true_cases = clean_columns[clean_columns['Has_Diabetes'] == True]
false_cases = clean_columns[clean_columns['Has_Diabetes'] == False].sample(n=true_cases.shape[0], random_state=42)
balanced_df = pd.concat([true_cases, false_cases])



#clean_columns.to_csv('new_columns.csv', index=False)
#balanced_df.to_csv('balanced_new_columns.csv', index=False)

In [59]:

NO=balanced_df.loc[balanced_df['Has_Diabetes'] == 0]

NO.shape

(46184, 19)

In [60]:
balanced_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92368 entries, 11 to 82251
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Has_Diabetes                          92368 non-null  float64
 1   Has_High_BP                           92368 non-null  float64
 2   Takes_Aspirin_Daily                   92368 non-null  float64
 3   Has_Heart_Disease                     92368 non-null  float64
 4   Has_Arthritis                         92368 non-null  float64
 5   Has_Arthritis_(Any_Form)              92368 non-null  float64
 6   Has_Difficulty_Walking                92368 non-null  float64
 7   Told_High_Blood_Chol                  92368 non-null  float64
 8   Advised_to_Reduce_Salt                92368 non-null  float64
 9   Needs_Medical_Equipment               92368 non-null  float64
 10  Told_to_Lose_Weight                   92368 non-null  float64
 11  Needs_Daily_Assistance_(Memory Loss)  92368 non-null  float64
 12  Taking_Meds_for_BP                    92368 non-null  float64
 13  Has_Cataracts                         92368 non-null  float64
 14  Had_Pneumonia_Shot                    92368 non-null  float64
 15  BMI                                   86965 non-null  float64
 16  Physical_Health                       92368 non-null  float64
 17  Age                                   92368 non-null  float64
 18  General_Health                        92368 non-null  float64
dtypes: float64(19)
memory usage: 14.1 MB

In [61]:
balanced_df =balanced_df.dropna()

balanced_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86965 entries, 11 to 82251
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Has_Diabetes                          86965 non-null  float64
 1   Has_High_BP                           86965 non-null  float64
 2   Takes_Aspirin_Daily                   86965 non-null  float64
 3   Has_Heart_Disease                     86965 non-null  float64
 4   Has_Arthritis                         86965 non-null  float64
 5   Has_Arthritis_(Any_Form)              86965 non-null  float64
 6   Has_Difficulty_Walking                86965 non-null  float64
 7   Told_High_Blood_Chol                  86965 non-null  float64
 8   Advised_to_Reduce_Salt                86965 non-null  float64
 9   Needs_Medical_Equipment               86965 non-null  float64
 10  Told_to_Lose_Weight                   86965 non-null  float64
 11  Needs_Daily_Assistance_(Memory Loss)  86965 non-null  float64
 12  Taking_Meds_for_BP                    86965 non-null  float64
 13  Has_Cataracts                         86965 non-null  float64
 14  Had_Pneumonia_Shot                    86965 non-null  float64
 15  BMI                                   86965 non-null  float64
 16  Physical_Health                       86965 non-null  float64
 17  Age                                   86965 non-null  float64
 18  General_Health                        86965 non-null  float64
dtypes: float64(19)
memory usage: 13.3 MB

In [62]:
balanced_df.to_csv('balanced_final.csv', index=False)

In [ ]:
{i : 1 - (clean_columns[i].count() / len(clean_columns[i])) for i in clean_columns.columns}

In [ ]:
clean_columns["ARTHWGT"]

In [ ]:
clean_nulls = clean_columns.dropna()
clean_nulls

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

df = pd.read_csv('new_columns.csv')

# Separate data into two dataframes based on 'Has_Diabetes'
df_true = df[df['Has_Diabetes'] == True]
df_false = df[df['Has_Diabetes'] == False]

# Get the minimum number of rows between True and False dataframes
min_rows = min(len(df_true), len(df_false))

# Sample equal number of rows from both True and False dataframes
df_true_sampled = df_true.sample(n=min_rows, random_state=42)
df_false_sampled = df_false.sample(n=min_rows, random_state=42)

# Concatenate the sampled dataframes
balanced_df = pd.concat([df_true_sampled, df_false_sampled])

# Shuffle the rows to mix True and False values
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

# Save the balanced dataframe to a new CSV file
balanced_df.to_csv('balanced_new_columns.csv', index=False)

print("Balanced dataset saved to balanced_new_columns.csv")

In [ ]:
true_cases = df[df['Has_Diabetes'] == True]
false_cases = df[df['Has_Diabetes'] == False].sample(n=true_cases.shape[0], random_state=42)

balanced_df = pd.concat([true_cases, false_cases])

print(balanced_df)

In [ ]:
import pandas as pd


# Select only the desired columns
clean_columns = df[columns_tokeep]
clean_columns
# Drop rows with null values in any of the selected columns
clean_nulls = clean_columns.dropna

print(clean_nulls)
# Define conditions to filter the DataFrame
# Define conditions to filter the DataFrame
conditions = [
    clean_nulls['DIABETE3'].isin([1, 3]),  # diabetes
    clean_nulls['BPHIGH4'].isin([1, 3]),    # highBP
    clean_nulls['CVDASPRN'].isin([1, 2]),   # Aspirin
    clean_nulls['_MICHD'].isin([1, 2]),     # heart disease
    clean_nulls['_DRDXAR1'].isin([1, 2]),   # arthritis
    clean_nulls['HAVARTH3'].isin([1, 2]),   # other form of arthritis
    clean_nulls['DIFFWALK'].isin([1, 2]),   # difficulty walking
    clean_nulls['TOLDHI2'].isin([1, 2]),    # told high cholesterol
    clean_nulls['DRADVISE'].isin([1, 2]),   # told to reduce salt
    clean_nulls['USEEQUIP'].isin([1, 2]),   # need medical equipment
    clean_nulls['ARTHWGT'].isin([1, 2]),    # lose weight because arthritis
    clean_nulls['CDASSIST'].isin([1, 2, 3, 4, 5]),   # do you need assistance because memory loss
    clean_nulls['BPMEDS'].isin([1, 2]),     # are you taking meds for high blood pressure
    clean_nulls['VICTRCT4'].isin([1, 2, 3]),   # do you have cataracts
    clean_nulls['PNEUVAC3'].isin([1, 2])    # have you had a flu shot in the last 12 months
]

# Check if all conditions are met across all columns
combined_condition = all(pd.DataFrame(conditions).all(axis=0))

print(combined_condition) 

# Reset index of clean_columns DataFrame
clean_nulls.reset_index(drop=True, inplace=True)

# Apply combined condition to filter the DataFrame
reduced_df = clean_nulls if combined_condition else pd.DataFrame()

# Save the cleaned DataFrame to a new CSV file
#reduced_df.to_csv('new_columns.csv', index=False)
reduced_df